<nav class="layout-topbar navbar navbar-expand-lg navbar-light bg-light flex-row">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div style="width: 224px">

    </div>
    <a class="nav-item header-icon" (click)="onMenuClick()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    <div class="flex-1">

    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown profile-menu">
        <a class="nav-link dropdown-toggle menu-image" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class=" avatar rounded-circle img-thumbnail"
               alt="avatar">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="logoutUser()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<!--<div class="layout-topbar flex-row">
  <div style="width: 224px">

  </div>
  <div class="flex-1">

  </div>
</div>-->
