.layout-topbar {
  top: 0;
  left: 0;
  z-index: 999;
  height: 64px;
  width: 100%;
  background-color: #2d3f47;
  background-image: -webkit-gradient(linear, left top, right top, from(#2d3f47), to(#2d3f47));
  background-image: -webkit-linear-gradient(to right, #2d3f47, #2d3f47);
  background-image: -moz-linear-gradient(to right, #2d3f47, #2d3f47);
  background-image: -ms-linear-gradient(to right, #2d3f47, #2d3f47);
  background-image: -o-linear-gradient(to right, #2d3f47, #2d3f47);
  background-image: linear-gradient(to right, #2d3f47, #2d3f47);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2d3f47', endColorstr='#2d3f47', gradientType='1');
}

.header-icon{
  font-size: 24px;
  float: left;
  color: #f4f4f4;
  height: 64px;
  width: 64px;
  text-align: center;
  line-height: 64px;
}

.header-icon:hover{
  background-color: #425259;
}
