<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="container">

    <ng-container
      *ngFor="let question of questions;"
      appDynamicField
      [question]="question"
      [form]="form">
    </ng-container>

    <!--<div class="form-row">
      <button [class]="submitClass" type="submit" [disabled]="!form.valid">Save</button>
    </div>-->
  </form>

</div>


<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
