<div class="left-menu" [ngClass]="{'hide-menu': !menuBar}">
  <div class="menu-container" >
    <ul>
      <li>
        <a routerLink="dashboard" routerLinkActive="active">
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          <span>DashBord</span>
        </a>
      </li>
      <li>
        <a routerLink="courses"  routerLinkActive="active">
          <i class="fa fa-tasks" aria-hidden="true"></i>
          <span>Courses</span>
        </a>
      </li>
    </ul>
  </div>
</div>

