.cardV1{
  color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.orange.card-title-icon {
  background-color: #F39611;
  background-image: -webkit-gradient(linear, left top, right top, from(#F39611), to(#EE4F10));
  background-image: -webkit-linear-gradient(to right, #F39611, #EE4F10);
  background-image: -moz-linear-gradient(to right, #F39611, #EE4F10);
  background-image: -ms-linear-gradient(to right, #F39611, #EE4F10);
  background-image: -o-linear-gradient(to right, #F39611, #EE4F10);
  background-image: linear-gradient(to right, #F39611, #EE4F10);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F39611', endColorstr='#EE4F10', gradientType='1');
}

.blue.card-title-icon{
  background-color: #326DDF;
  background-image: -webkit-gradient(linear, left top, right top, from(#326DDF), to(#214B9C));
  background-image: -webkit-linear-gradient(to right, #326DDF, #214B9C);
  background-image: -moz-linear-gradient(to right, #326DDF, #214B9C);
  background-image: -ms-linear-gradient(to right, #326DDF, #214B9C);
  background-image: -o-linear-gradient(to right, #326DDF, #214B9C);
  background-image: linear-gradient(to right, #326DDF, #214B9C);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#326DDF', endColorstr='#214B9C', gradientType='1');
}

.red.card-title-icon{
  background-color: #E02364;
  background-image: -webkit-gradient(linear, left top, right top, from(#E02364), to(#A22650));
  background-image: -webkit-linear-gradient(to right, #E02364, #A22650);
  background-image: -moz-linear-gradient(to right, #E02364, #A22650);
  background-image: -ms-linear-gradient(to right, #E02364, #A22650);
  background-image: -o-linear-gradient(to right, #E02364, #A22650);
  background-image: linear-gradient(to right, #E02364, #A22650);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E02364', endColorstr='#A22650', gradientType='1');
}

.green.card-title-icon{
  background-color: #7DC931;
  background-image: -webkit-gradient(linear, left top, right top, from(#7DC931), to(#14A143));
  background-image: -webkit-linear-gradient(to right, #7DC931, #14A143);
  background-image: -moz-linear-gradient(to right, #7DC931, #14A143);
  background-image: -ms-linear-gradient(to right, #7DC931, #14A143);
  background-image: -o-linear-gradient(to right, #7DC931, #14A143);
  background-image: linear-gradient(to right, #7DC931, #14A143);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7DC931', endColorstr='#14A143', gradientType='1');
}

.card-icon{
  font-size: 24px;
  padding: 16px;
  color: white;
}

.card-title{
  font-size: 16px;
  color: white;
  padding: 16px 16px 4px 10px;
}

.card-description-icon{
  padding: 0 16px 0 10px;
  background-color: #E9E9E9;
  font-size: 13px;
  border: 1px solid #dedede;
  color: #585858;
  width: auto;
  line-height: 26px;
}

.card-button-icon span{
  padding: 1px 3px;
  border: 1px solid #585858;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  line-height: 15px;
}
