.welcome-container {
  background: gray;
  height: calc(100% + 30px);
  margin: -15px -15px 0 -15px;
}

.carousel-item {
  height: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  text-shadow: -1px -1px 10px #1b1a1a;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  display: flex;
  flex-direction: column;
}

.sigma {
  font-size: 7rem;
}

.welcome-button {
  padding: .5rem 4rem;
}

.class-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
}

.class-button:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}
