<div class="row">
  <div class="col-md-12">
    <button (click)="input.click()" [disabled]="disabled">+</button>
    <input style="display: none" #input (change)="addFiles(input)" type="file">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul>
      <ng-container *ngFor="let file of files;let i = index">
        <li *ngIf="!file.deleted">
          {{file | json}}
          <button (click)="deleteFile(i)" [disabled]="disabled">*</button>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
