<div class="input-group mb-3 col-md-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
         aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
  </div>
</div>

<hr/>

<p-card header="Advanced Card" subheader="Subheader" styleClass="ui-card-shadow col-md-4 col-sm-6">
  <p-header>
    <img src="Card" src="assets/images/usercard.png">
  </p-header>
  <div>
    <div><b>Name:</b></div>
    <div style="display: flex">
      <div><b>Start:</b></div>
      <div><b>End:</b></div>
    </div>
    <div><b>Price:</b></div>
  </div>
  <p-footer>
    <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
  </p-footer>
</p-card>
