<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Courses
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="flex-row">
            <div>
              <ng-container *ngFor="let category of resource.categories;let i = index">
                <a class="dropdown-item" *ngIf="category.courses && category.courses.length > 0"
                   (click)="$event.stopPropagation();activeCourseCategory = i"
                   [ngClass]="{'active': activeCourseCategory === i}">
                  {{category.name | translate}}
                </a>
              </ng-container>

            </div>
            <div>
              <ng-container *ngIf="resource.categories[activeCourseCategory]">
                <a class="dropdown-item"
                   *ngFor="let course of resource.categories[activeCourseCategory].courses;let i = index"
                >
                  {{course.name | translate}}
                </a>
              </ng-container>

            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Material
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="flex-row">
            <div>
              <ng-container *ngFor="let category of resource.categories;let i = index">
                <a class="dropdown-item" *ngIf="category.materials && category.materials.length > 0"
                   (click)="$event.stopPropagation();activeMaterialCategory = i"
                   [ngClass]="{'active': activeMaterialCategory === i}">
                  {{category.name | translate}}
                </a>
              </ng-container>

            </div>
            <div>
              <ng-container *ngIf="resource.categories[activeMaterialCategory]">
                <a class="dropdown-item"
                   *ngFor="let materil of resource.categories[activeMaterialCategory].materials;let i = index"
                >{{materil.display_name | translate}}
                </a>
              </ng-container>

            </div>
          </div>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="profile-menu navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle menu-image" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class=" avatar rounded-circle img-thumbnail"
               alt="avatar">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngIf="!http.user" class="dropdown-item" [routerLink]="['/login']">Login</a>
          <a *ngIf="!http.user" class="dropdown-item" [routerLink]="['/register']">Register</a>
          <a *ngIf="http.user" class="dropdown-item" (click)="logoutUser()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

