<p-menubar [model]="items">
</p-menubar>
{{words | json}}
<p-table [columns]="cols" [value]="words" [frozenValue]="newWord" [scrollable]="true" scrollHeight="200px">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="frozenrows" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <b>{{_.get(rowData,col.field)}}</b>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <b>{{_.get(rowData,col.field)}}</b>
      </td>
    </tr>
  </ng-template>
</p-table>
