<div class="container">
  <div class="row vertical-offset-100">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{'LOGIN.SIGN_IN_HEADER' | translate}}</h3>
        </div>
        <div class="panel-body">
          <fieldset>
            <app-dynamic-form submitClass="btn btn-lg btn-success btn-block" [config]="loginConfig"></app-dynamic-form>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

