<p-dialog header="Godfather I" [(visible)]="display" [modal]="true" [responsive]="true" [width]="700" [minWidth]="200" [minY]="70"
          [baseZIndex]="10000" (onHide)="updateVisibility()">
  <app-dynamic-form submitClass="btn btn-lg btn-success btn-block" [values]="values" (onForm)="onForm($event)" [config]="questions"></app-dynamic-form>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="hide()" label="cancel-label"></button>
    <button type="button" pButton icon="pi pi-close" (click)="create()" [disabled]="!this.form.valid" label="create-label"></button>
  </p-footer>
</p-dialog>
